<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hello !</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Je suis Emmanuel BOUSQUET dit EmaB, guitariste, pianiste, bassiste, chanteur, auteur, compositeur, arrangeur, professeur de guitare et solfege. Enfants, ados, adultes tous les niveaux du débutant au perfectionnement. J’enseigne depuis 1982 à mon domicile ou chez les élèves « voir au cas par cas » jouer de la guitare dans tous les styles de musiques sur la base de une heure par cours … également possible : cours de 30 ou 45 min. « pour les enfants ». J’utilise l’outil pédagogique breveté la « Tablanote » en plus des documents habituels, tablatures et partitions (voir clip ci-dessous pour plus de détails).</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
      </br></br></br></br>
        <h2>Mes clients:</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img src="img/clients.png" class="img-responsive" alt="{{ post.alt }}">
      </div>
    </div>
  </div>
</section>
